<div class="main-container">

    <div class="sub-container">
        <div class="header">
            <p class="subtitle" style="font-size: 36px;margin-bottom: 30px;">Make an appointment NOW</p>
            <button mat-raised-button color="accent" (click)="router.navigate(['login'])">BOOK APPOINTMENT</button>
        </div>

        <img id="banner" src="../../assets/images/background.jpg">

        <div class="paragraph">
    
            <p style="font-weight: 300; font-size: 25px;">Make appointments quickly, conveniently, seamlessly</p>
            <br>
            <p>Private Care Hub is built around a reliable and scalable enterprise platform, revolving around a proactive scheduling and appointment system, allowing you to view and book appointments instantly with convenience.</p>
            <br>
            <p>Get a queue number from the convenience of your home, rather than personally going down to get a queue number and wait endlessly for your turn. Advanced medical procedures such as vaccinations or health screenings, can all be booked as well.</p>
        </div>

        <div class="deck">
            <div class="card">
                <span class="material-icons">av_timer</span>
                <p>Fast</p>
                <p class="subtitle">3-step process in booking</p>
            </div>
            <div class="card">
                <span class="material-icons">av_timer</span>
                <p>Convenient</p>
                <p class="subtitle">Available around the clock</p>
            </div>
            <div class="card">
                <span class="material-icons">close_fullscreen</span>
                <p>Seamless</p>
                <p class="subtitle">Updated schedule availabilities</p>
            </div>
        </div>

        <div class="footer">
            <p>© 2020 IS3106 - Jeremy, Jun Kai, Grace, Natalie. All rights reserved.</p>
        </div>
    </div>
</div>