

<div class="sub-container">
<h2 mat-dialog-title>Account Details</h2>
<mat-card>
<table style= "margin-left:auto;margin-right:auto;">
<tr>
    <td width="20%" style="font-weight: bold;"> Name </td>
    <td>{{medicalRecord.name}}</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td width="20%" style="font-weight: bold;"> NRIC </td>
    <td>{{medicalRecord.nric}}</td>
</tr>
<tr>
    <td width="20%" style="font-weight: bold;"> Address </td>
    <td>{{medicalRecord.address}}</td>
</tr>
<tr>
    <td width="20%" style="font-weight: bold;"> Date of birth </td>
    <td>{{medicalRecord.dob | date: 'dd/MM/yyyy'}}</td>
</tr>
<tr>
    <td width="20%" style="font-weight: bold;"> Contact number </td>
    <td>{{medicalRecord.contact_number}}</td>
</tr>
<tr>
    <td text-align = "center" width="20%" style="font-weight: bold;"> Blood type </td>
    <td>{{medicalRecord.blood_type}}</td>
</tr>
<tr>
    <td width="20%" style="font-weight: bold;"> Drug Allergies </td>
    <td>{{medicalRecord.drug_allergys}}</td>
</tr>
<tr>
    <td width="20%" style="font-weight: bold;"> Family Histories </td>
    <td>{{medicalRecord.family_historys}}</td>
</tr>
<tr>
    <td width="20%" style="font-weight: bold;"> Past Medical Histories </td>
    <td>{{medicalRecord.past_medical_historys}}</td>
</tr>
<tr>
    <td width="20%" style="font-weight: bold;"> Vaccinations </td>
    <td>{{medicalRecord.vaccinations}}</td>   
</tr>
<br>
</table>
<button mat-raised-button (click)="openDialog()" color="primary">Change Password</button>
<button mat-raised-button (click)="updateMed()" color="primary">Update Account</button>
</mat-card>
</div>